*{
    font-family: 'Quicksand', sans-serif;
}

#side_nav{
    background: rgb(23, 180, 96);
    min-width: 250px;
    max-width: 250px;
}
.content {
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #fefefe;
    border: 1px solid white;
}
.sidebar li.active a:hover {
    background-color: rgb(171, 25, 89);
    border-radius: 9px;
}
.sidebar li a{
    color: #ffffff;
}
.h3{
    margin: auto;    
}

.profile {
    padding: 100px;
    text-align: center;
}
.img{
    border-radius: 50%;
}
